<!DOCTYPE html>

<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css">

</head>
<body>
    <form action="Accept" method="post">
        Name:<input type='text' name='name'>
        Location:<input type='text' name='location'>
        Favorite Language:
        <p></p>
        JavaScript<input type='radio' name='language' value="JavaScript">
        Python<input type='radio' name='language' value="Python">
        C#<input type='radio' name='language' value="C#">
        
        Comment: (optional)
        <p></p><textarea name="comment"></textarea><hr>
        <button type="submit">Submit</button>
    
    </form>
    
</body>
</html>