<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='styles.css'>
</head>

<body>


<div id="card">
<h1>Submitted Info</h1>
<div class="info">
    Name:
    @ViewBag.name <hr>
</div>
<div class="info">
    Dojo Location:
    @ViewBag.location <hr>
</div>
<div class="info">
    Favorite Language:
    @ViewBag.language <hr>
</div>
<div class="info">
    Comment:
    @ViewBag.comment <hr>
</div>        


</body>
</html>