<form acton="survey" method="POST">
    <input type="name" name="name" placeholder="State your Name">
    <input type="name" name="location" placeholder="State your Location">
    <input type="name" name="name" placeholder="State your Name">
    <select type="radio" name="FavoriteLanguage" >
        <option value="C#">C#</option>
        <option value="Python">Python</option>
        <option value="Javascript">Javascript</option>

    </select>
    <input type="submit">

</form>
