<h1>Welcome to Quoting Dojo</h1>


<form action="quotes" method="POST">

    Your Name:<input type="text" name="name">
    <br>
    <br>
    Your Quote<textarea name="quote"></textarea>
    <br>
    <br>
    <input type="submit" value="Add My Quote!">

</form>
    <br>
<form action="quotes" method="GET">
<input type="submit" value="Skip to quotes!">
</form>
