<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='4.css') }}">

</head>
<body>
    <form action='/users' method='post'>
        Name:<input type='text' name='name'>
        Location:<input type='text' name='location'>
        Favorite Language:
        <p></p>
        JavaScript<input type='radio' name='language' value="JavaScript">
        Python<input type='radio' name='language' value="Python">
        Comment: (optional)
        <p></p><textarea name="comment"></textarea>
        <input type="submit">
    
    </form>
    
</body>
</html>