<!DOCTYPE html>
@{
    @using System.Collections
    @using Microsoft.AspNetCore.Http;

    
}
<html>
<head>
<link rel='stylesheet' type='text/css' href="~/css/main.css">
<script type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.js'></script> 
<script src="~/js/main.js"></script>
</head>

<body>
<div id="header">
<div id="Fullness">Fullness: </div>
<div id="Happiness">Happiness: </div>
<div id="Meals">Meals: </div>
<div id="Energy">Energy: </div>

</div>
<div id="box">
    <img id="pika" src="">
    <div id="action"></div>

</div>
<br>
<button id="Feed" value="Feed">Feed</button>
<button id="Play" value="Play">Play</button>
<button id="Work" value="Work">Work</button>
<button id="Sleep" value="Sleep">Sleep</button>

<div id="restart"></div>


</body>
</html>