<!DOCTYPE html>
<html>
<head>


</head>

<body>


    @{
        string[] arr = {"stuff","stuff","stuff","stuff","stuff","cstuff"};
        for(int x = 0;x<arr.Length;x++)
        {
            <p>@arr[x]</p>
            
            
            
          
            if (arr[x][0] == 'c')
            {
                <p>^^ This one  is actually red. I know how to do this bonus thing, but I have to get to my other assignments</p>
            }            
            
        }
    }

</body>
</html>