<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles2.css')}}">
</head>

<h1 id="users">Users</h1>


{% for user in all_users: %}
    <div id="table">
        <div id="id"> {{user['id']}}  </div>
            
        <div id="name">  {{user["first_name"]}} {{user["last_name"]}}   </div>

        <div id="email"> {{user["email"]}}   </div>

        <div id="created">{{user["created_at"]}}  </div>

        <div id="action" >
            <form action="/users" method="post">
            <input type="hidden" value=" {{user['id']}}" name="id">
            <input type="submit" value="Show">
            </form>
            <form action="/edit" method="post">
            <input type="hidden" value="{{user['id']}}" name="id">
            <input type="submit" value="Edit">
            </form>
            <form action="/trydel" method="post">
            <input type="hidden" value="{{user['id']}}" name="id">
            <input type="submit" value="Delete">
            </form>
        </div>
    </div>

{% endfor %}
<form action="/create" method="GET">
    <input type="submit" value="Add a new user">
</form>