


form{
    margin-bottom:15px;
}

#block{
    display:inline-block;
    width:150px;
}

#input{
    display:inline-block;
    width:200px;
    margin-bottom:10px;
}

#submit{
    overflow: hidden;
    margin-top:5px;
    width: 100px;
    height: 25px;
    color:white;
    background: royalblue;
    box-shadow: 3px 5px black;
    border: 3px black solid;
}

#green{
    color:green
}

#red{
    color:red
}