<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='~/css/contact.css'>

</head>
<body>
        <div id="header">
            <spick>Home</spick> <span> &nbsp; | &nbsp; </span> <span>Projects</span> <span> &nbsp; | &nbsp; </span> <spick>Contact</spick>
        </div>      

        <div id="header">
            <span>Contact Me!</span>
        </div>

        <form>
            Name <input type="text"><br>
            Email <input type="text">
            Message <input type="text"> <br><br>
            <input type="submit" id="submit">
        </form>
</body>
</html>


