
<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='~/css/projects.css'>
</head>

<body>
        <div id="header">
            <spick>Home</spick> <span> &nbsp; | &nbsp; </span> <span>Projects</span> <span> &nbsp; | &nbsp; </span> <spick>Contact</spick>
        </div>      

        <div id="header">
            <span>Here are some projects of mine!</span>
        </div>
        <div id="projectcontainer">
            <div id="projone"></div>
            <div id="textbox"><h3>Coding!</h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</div>
            <div id="projtwo"></div>
            <div id="textbox"><h3>End City!</h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</div>
            <div id="projthree"></div>
            <div id="textbox"><h3> Map Making!</h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</div>
            <div id="projfour"></div>
            <div id="textbox"><h3>building a Mansion!</h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</div>
            <div id="projfive"></div>
            <div id="textbox"><h3>Sky City!</h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</div>
            <div id="projsix"></div>
            <div id="textbox"><h3>Lakeside Manor!</h3>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</div>
        </div>

</body>
</html>
    