<!DOCTYPE html>
<html>
<head>    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/user" method="post">
    <p>
        <div id="one">First Name:</div>
        <input type="text" name="firstname">
    </p>
    <p>
        <div id="one">Last Name:</div>
        <input type="text" name="lastname">
    </p>
    <p>
        <div id="one">Email: </div>
        <input type="text" name="email">
    </p>
    <p>
        <div id="one">Password: </div>
        <input type="text" name="password">
    </p>
    <p>
        <div id="one">Confirm Password: </div>
        <input type="text" name="confirm">
    </p>
    <p>
        <input type="submit" value="Create User">
    </p>
    </form>
    
</body>
</html>