<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>



<h1>Register Your Account!</h1>
<form id="create" action="/register" method='POST'>
    <p><div id="one">First Name:</div> <input type="text" name="first_name"> </p>
    <p><div id="one">Last Name:</div> <input type="text" name="last_name"> </p>
    <p><div id="one">Email:</div> <input type="text" name="email"> </p>
    <p><div id="one">Password:</div> <input type="text" name="password"> </p>
    <p><div id="two">Password Confirm:</div> <input type="text" name="confirm"> </p>
    <input type="submit" id="sub" value="submit">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}





<form id="log" action="/login" method='post'>
    <p>Already have an account? Log in here!</p>
    <input type='submit' value="Log in">
</form>